/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************
    GENERAL STYLES
 *************************************************/

 body {
    font-family: 'Nunito Sans', sans-serif;
    }

.features h1 {
    color: rgb(4, 134, 253);
}

p {
    font-size: 0.9rem;
    font-weight: bolder;
}


div.box-features h1,
div.box-features p,
div.box-features span,
div.box-features img {
margin-top: 3rem;
}

/************************************************
    UTILITIES
 ************************************************/

 .flex {
    display: flex;
 }

/************************************************
    SOLUZIONE MOBILE RESPONSIVE
 ************************************************/

    /* FEATURES SECTION */

        header {
            background-color: rgb(0, 132, 253);
        }

        .link-header {
            display: none;
        }
 
        .container {
            margin: 0 2rem;
        }

        .container-header {
            justify-content: space-between;
            padding: 1rem 1.7rem;
            align-items: center;
        } 

        .icon {
            font-size: 1.5rem;
        }

        .features {
            background-color: white;
        }

        .box-features-big h1 {
            margin: 2rem;
        }

        .box-features-big p {
            margin: 2rem;
        }

        .box-features-big span {
            margin-bottom: 2rem;
        }
        
        .box-features-big,
        .box-features-small {
            background-color: rgb(181, 221, 255);
            border-radius: 1rem;
            flex-direction: column;
            align-items: center;
            padding: 0 1.3rem;
            margin-top: 3rem;
            color: rgb(86, 105, 122);
        }

        .app-store {
            background-color: rgb(0, 132, 253);
            color: white;
            padding: 0.3rem 2rem;
            border-radius: 1rem;
            width: 70%;
            text-align: center;
        }

        #img-phone {
            width: 100%;
        }

        div.box-features h1,
        div.box-features p,
        div.box-features span,
        div.box-features img {
            margin-top: 2rem;
        }

        #icon-code {
            font-size: 4rem;
        }

        .box-features-icon {
            padding: 2rem 1.3rem;
            margin-top: 1.3rem;
        }

        .features {
            padding-bottom: 4rem;
        }

        /* PLANNING SECTION */

        .planning {
            background-color: rgb(151, 146, 228);
            color: white;
            padding-bottom: 4rem;
        }

        .box-planning {
            flex-direction: column;
            align-items: center;
        }

        .app-development {
            background-color: white;
            color: black;
            padding: 0 1.3rem;
            text-align: center;
            border-radius: 3rem;
        }

        .img-planning {
            width: 100%;
        }

        div.box-planning h2,
        div.box-planning p,
        div.box-planning i,
        div.box-planning img {
            margin-top: 2rem;
        }

        .app-development {
            margin-top: 2rem;
        }

        #down-arrow {
            background-color: rgb(151, 146, 228);
            font-size: 1rem;
            width: 1rem;
            height: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 1.2rem;
            margin-bottom: 2rem;
        }

        /* TESTIMONIALS SECTION */

        .box-testimonials {
           margin-top: 4rem;
           flex-direction: column;
           align-items: center;
           padding: 0 2rem;
           margin-bottom: 4rem;
        }

        div.box-testimonials span {
            width: fit-content;
        }

        div.box-testimonials h1 {
            color: rgb(151, 146, 228);
        }

        div.box-testimonials h1,
        div.box-testimonials p {
            margin-top: 2rem;
            text-align: center;
        }

        .card-testimonials {
            background-color: rgb(151, 146, 228);
            color: white;
            padding: 0 0.9rem;
            text-align: center;
            border-radius: 3rem;
            align-items: center;
            flex-direction: column;
            margin-bottom: 2rem;
        }

        .img-card-testimonials {
            width: 12rem;
            height: 12rem;
            background-color: white;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 2rem;
        }

        div.card-testimonials img {
            height: 100%;
            position: relative;
            right: 42px;
        }

        div.card-testimonials p {
            font-weight: 100;
            font-size: 1.1rem;
        }

        div.card-testimonials img.card-testimonials,
        div.card-testimonials p,
        div.card-testimonials .name {
            margin-top: 1.5rem;
        }

        .name {
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        /* BENEFITS SECTION */

        .benefits {
            background-color: rgb(151, 146, 228);
            padding-top: 3rem;
            padding-bottom: 4rem;
        }

        .box-benefits {
            color: white;
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 4rem;
        }

        .card-benefits {
            background-color: white;
            border-radius: 2rem;
            padding: 2rem 1.7rem;
            margin-top: 1rem;
        }

        div.card-benefits h2 {
            font-size: 2.5rem;
        }

        div.card-benefits p {
            font-weight: 100;
        }

        div.card-benefits span {
            background-color: rgb(151, 146, 228);
            color: white;
            padding: 0.3rem 2rem;
            border-radius: 1rem;
            width: 70%;
            text-align: center;
        }

        div.card-benefits h2,
        div.card-benefits h3 {
            color: rgb(151, 146, 228);
        }

        div.card-benefits h3,
        div.card-benefits p {
            padding-top: 1.5rem;
        }

        div.card-benefits p {
            margin-bottom: 2rem;
            font-size: 1rem;
        }

        /* ABOUT-US SECTION */

        .container-about-us {
            flex-direction: column;
        }

        .about-us {
            background-color: white;
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        div.box-about-us h1 {
            color: rgb(151, 146, 228);
            font-size: 2.5rem;
        }

        div.box-about-us p {
            font-weight: 100;
            font-size: 1rem;
            line-height: 2rem;
        }

        div.box-about-us h1,
        div.box-about-us p {
            margin-bottom: 5rem;
        }

        .img-about-us {
            width: 12rem;
            height: 12rem;
            background-color: white;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 2rem;
        }

        div.img-about-us img {
            height: 100%;
            position: relative;
            right: 0px;
        }

        div.box-about-us h2 {
            color: rgb(151, 146, 228);
            font-size: 1.7rem;
        }

        div.box-about-us span {
            background-color: rgb(151, 146, 228);
            color: white;
            padding: 0.3rem 2rem;
            border-radius: 1rem;
            width: 70%;
            text-align: center;
        }

        div.box-about-us h2 {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        /* GET-STARTED SECTION */

        .get-started {
            background-color: rgb(151, 146, 228);
            padding: 4rem 0;
        }

        .box-get-started {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: white;
        }

        div.box-get-started h3 {
            font-size: 1.6rem;
        }

        div.box-get-started h2 {
            font-size: 2.8rem;
            color: rgb(253, 193, 95);
        }

        div.box-get-started p {
            font-weight: 100;
        }

        div.box-get-started span {
            background-color: white;
            color: rgb(151, 146, 228);
            padding: 0.9rem 2rem;
            border-radius: 2rem;
            width: 70%;
            text-align: center;
            font-weight: 600;
        }

        div.box-get-started h2,
        div.box-get-started h3,
        div.box-get-started p,
        div.box-get-started span {
            margin-bottom: 2rem;
        }

        /* FOOTER */

        footer {
            background-color: rgb(51, 51, 51);
            padding: 2rem 0;
        }

        .box-footer {
            color: white;
            text-align: center;
        }

        div.box-footer p {
            font-weight: 100;
            font-size: 0.8rem;
        }

        div.box-footer a {
            color: rgb(151, 146, 228);
        }

        div.box-footer p:nth-child(2n) {
            padding-top: 3rem;
        }

    /************************************************
    SOLUZIONE TABLET RESPONSIVE
    ************************************************/

    @media screen and (min-width: 576px) {
        
        /* FEATURES SECTION */

        .box-features-big {
            width: calc((100% / 3 * 2) - 1rem);
            text-align: start;
            margin-top: 1rem;
            align-items: flex-start;
        }

        .box-features-big h1,
        .box-features-big p {
            margin-top: 1.5rem;
        }

        .box-features-big p {
            margin-bottom: 1.5rem;
        }

        #img-phone { 
            width: 65%;
        }

        .box-features-small {
            width: calc((100% / 3 ) - 0.5rem);
            margin-top: 1rem;
        }

        .container-features {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        div.box-features-big h1,
        div.box-features-small h1 {
            font-size: 0.9rem;
        }

        div.box-features-small h1 {
            margin-top: 1rem;
        }

        div.box-features-small p {
            font-size: 0.7rem;
            text-align: center;
            margin-top: 1rem;
        }

        div.box-features-big p {
            font-size: 0.65rem;
        }

        /* PLANNING SECTION */

        div.box-planning h1 {
            font-size: 3rem;
            margin-top: 5rem;
        }

        div.box-planning p {
            font-size: 0.65rem;
        }

        .box-planning {
            align-items: flex-start;
        }

        .app-development {
            align-items: center;
        }

        .app-development p {
            font-style: italic;
            font-weight: 100;
        }

        /* TESTIMONIALS SECTION */

        .card-testimonials {
            flex-direction: row;
            justify-content: space-between;
        }

        .img-card-testimonials {
            width: 7.5rem;
            height: 7.5rem;
            margin-bottom: 2rem;
        }

        div.card-testimonials img {
            right: 30px;
          }
        
        .text-card-testimonials {
            width: 60%;
            margin-right: 4rem;
            text-align: initial;
        }

        .box-testimonials span {
            text-transform: uppercase;
        }

        div.box-testimonials p {
            font-size: 0.7rem;
        }

        div.card-testimonials p {
            font-size: 0.7rem;
        }

        /* BENEFITS SECTION */

        .box-benefits {
            width: 100%;
        }

        .card-benefits {
            width: calc((100% / 2) - 2rem);
            margin: 1rem;
            flex-wrap: wrap;
        }

        .container-benefits {
            display: flex;
            flex-wrap: wrap;
        }

        div.card-benefits p {
            font-size: 0.6rem;
        }

        /* ABOUT-US SECTION */

        .container-about-us {
            flex-direction: row;
        }

        .box-about-us:nth-child(1) {
            margin-right: 3rem;
        }

        div.box-about-us h1,
        div.box-about-us p {
            margin-bottom: 2rem;
        }

        div.box-about-us p {
            font-size: 0.9rem;
        }

        .img-about-us {
            width: 10rem;
            height: 10rem;
        }

        div.box-about-us h2 {
            font-size: 1.2rem;
        }

        div.box-about-us span {
            padding: 0.3rem 1rem;
            font-size: 0.8rem;
          }

          div.box-get-started span {
            width: 25%;
          }

          div.box-footer p {
            font-size: 0.8rem;
            margin: 0 21%;
          }
        } 

    /************************************************
    SOLUZIONE DESKTOP RESPONSIVE
    ************************************************/

    @media screen and (min-width: 992px) {

        .link-header {
            display: inline;
            color: white;
            padding-left: 1rem;
            font-size: 0.8rem;
        }

        .link-header span:last-child {
            color: black;
            background-color: white;
            padding: 0.5rem;
            border-radius: 30px;
        }

        .link-header span {
            margin-left: 1rem;
        }
        

        .container-header {
            margin: 0 20%;
          }

        .container-header i {
            display: none;
          }
        
        .features {
            margin: 0 20%;
          }

        

          .box-features-small {
            height: auto;
          }

        .container-planning {
            display: flex;
            margin: 0 30%;
        }

        .app-development {
            height: fit-content;
            margin-top: 14rem;
          }

          .app-development h2 {
            font-size: 1rem;
          }

          div.box-planning h2, 
          div.box-planning p, 
          div.box-planning i, 
          div.box-planning img {
            margin-top: 0.5rem;
          }

          div.box-planning h1 {
            font-size: 1rem;
          }

          .strategic-planning p {
            margin-right: 5rem;
          }

          .testimonials {
            margin: 0 20%;
          }

          .about-us {
            margin: 0 20%;
          }

          .container-benefits {
            margin: 0 20%;
          }

          .card-benefits {
            width: calc((100% / 3) - 2rem);
        }

        div.box-get-started span {
            width: 11%;
          }

          div.box-footer p {
            font-size: 0.7rem;
            margin: 0px 39%;
          }
    }

        



        



             
     



        













        

        


 